@charset "UTF-8";
/* CSS Document */

.menuSecundario{
	display: inline-block;
padding: 20px;
width: 20%;
box-sizing: border-box;
text-align: center;
}

.menuSecundario .views-row{
display: inline-block;
background: #386298;
text-align: center;
width: 100%;
margin-top: 10px;
padding: 10px;
box-sizing: border-box;
border-radius: 5px;
}
.aae-menusecundario h2{
}
.aae-menusecundario h2 a{
	color:#FFF;
}
