@charset "UTF-8";
/* CSS Document */
.menuPrincipal{
	display:inline-block;
	width:100%;
}

.menuPrincipal h2{
	display: inline-block;
	box-sizing: border-box;
}

.menuPrincipal .views-row{
	display: inline-block;
	width: 33% !important;
	text-align:center;
}

.menuSecundario{
	float: right;
}
